body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container {
    display: flex;
    margin-bottom: 100PX;
}

h1 {
    font-size: 50px;
}

.note {
    color: orange;
}

.part1 {
    text-align: justify;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(salmon, tomato);
    padding: 10px 20px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.half-part {
    width: 50%;
    padding-left: 5%;
}

.half-part img {
    width: 60%;
}

.middle-part img {
    padding-left: 5%;
    width: 70%;
}

.middle-part {
    width: 50%;
    padding-left: 5%;
}

.last-part {
    height: 400px;
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 25px;
    padding-right: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 40px gray;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.bottom-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 7%;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#L-web {
    border-left: 7px solid;
    border-image: linear-gradient(navy, cyan);
    border-image-slice: 1;
}

#B-web {
    border-left: 7px solid;
    border-image: linear-gradient(red, lightsalmon);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}

h2 {
    font-size: 35px;
}

#ex-web {
    margin-left: 2%;
}